#MasterContainer {
  background-color: rgb(100, 74, 37);
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ButtonContainer{
  width: 40%; 
}
#Button{
  background-image: url("../../Img/Logo.png");
  width: 100px;
  height: 100px;
  cursor: pointer;
  
}
#TitleContainer{
  width: 60%;
}
#Title {
  margin: 0px;
  font-family: var(--FONT_TEXT);
  color: var(--COLOR_TEXT);
}
