#MasterContainer {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#ContainerButton {
  border-radius: 20px;
  width: 160px;
  height: 100px;
  display: flex;
  margin-top: 300px;
  
  
}
#Link {
  text-decoration: none;
  border-radius: 20px;
  background-color: var(--COLOR_DIRT);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: var(--FONT_TEXT);
  color: var(--COLOR_TEXT);
  font-size: 30px;
  color: var(--COLOR_TEXT);
  
}
#Link:hover {
  background-color: var(--COLOR_MUD);
}
