#MegaContainer{
  font-family: var(--FONT_TEXT);
  color: var(--COLOR_TEXT);
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
#MasterContainer {
  width: 100vw;
}
#NavBarContainer {
  margin-top: 4rem;
  background-color: var(--COLOR_MUD);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Search {
  padding: 10px;
  margin: 0px 5px;
  border: 5px solid var(--COLOR_DIRT);
  background-color: var(--COLOR_MUD);
  color: var(--COLOR_TEXT);
}
#ButtonCreate {
  padding: 10px;
  margin: 0px 5px;
  border: 5px solid var(--COLOR_DIRT);
  background-color: var(--COLOR_MUD);
  font-family: var(--FONT_TEXT);
  color: var(--COLOR_TEXT);
  cursor: pointer;
}
#SelectContainer{
  width: 30rem;
  display: flex;
  justify-content: space-between;
}
.SelectCU{
  
  display: flex;
  flex-direction: column;
}
#Select {
  margin: 5px;
  border: 5px solid var(--COLOR_DIRT);
  background-color: var(--COLOR_MUD);
  font-family: var(--FONT_TEXT);
  color: var(--COLOR_TEXT);
}

#CardsContainer {
  background-color: rgba(154, 110, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  min-height: 70vh;
}
#ContainerNumPage {
  width: 100%;
  height: 50px;
  background-color: var(--COLOR_MUD);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ButtonPage {
  text-decoration: none;
  background-color: var(--COLOR_MUD);
  border-radius: 20px;
  padding: 8px;
  margin: 0 8px;
  font-family: var(--FONT_TEXT);
  color: var(--COLOR_TEXT);
  font-size: 25px;
  cursor: pointer;
  border: solid var(--COLOR_BASE);
}

.ButtonPage:hover {
  background-color: var(--COLOR_BASE);
  
}
#NumPage{
  text-decoration: none;
  background-color: var(--COLOR_MUD);
  border-radius: 20px;
  padding: 8px;
  margin: 0 8px;
  font-family: var(--FONT_TEXT);
  color: var(--COLOR_TEXT);
  font-size: 25px;
  cursor: default;
  border: solid var(--COLOR_BASE);
}
.ButtonPageOFF{
  text-decoration: none;
  background-color: gainsboro;
  border-radius: 20px;
  padding: 8px;
  margin: 0 8px;
  color: grey;
  font-size: 25px;
  border: solid grey;
}
#ContainerContact{
  margin-top: 27px;
  width: 100vw;
  background-color: var(--COLOR_MUD);
  display: flex;
  justify-content:space-around;
  align-items: center;
}
#EmailContainer{
  display: flex;
  flex-direction: row;
 
}
#ContainerLinks{
  display: flex;
  width: 20rem;
  justify-content: space-between;
  
}
.LinkContactText{
  text-decoration: none;
  font-family: var(--FONT_TEXT);
  color: var(--COLOR_TEXT);
  
}
#Github{
  background-image: url("../../Img/GitHub.png");
  height: 40px;
  width: 40px;
}
#Linkedin{
  background-image: url("../../Img/Linkedin.png");
  height: 40px;
  width: 40px;
}
#WhatsApp{
  background-image: url("../../Img/WhatsApp.png");
  height: 40px;
  width: 40px;
}